{%extends 'index.html' %}
{% load static %}
{%block b%}
        <section id="section0" class="slider-area">      
            <div class="main-slider owl-theme owl-carousel"> 
                <!-- Start Slingle Slide -->
                <div class="single-slide item" style="background-image: url(img/slider/1900x1000.png)">


                    <!-- <img src="img/slider/placehold.png"> -->

                    <!-- Start Slider Content -->

                        <div class="slider-content-area">  
                            <span style="margin-block-start: 50px;">
                                Integrantes:<br>
                                Julián David Leal P. -1860143 <br>
                                Cristhian Botero- 1860054 <br>
                            </span>
                                <div class="row">                   
                                        <div class="slide-content-wrapper text-center">                                           
                                            <div class="slide-content">
                                                <img class="classic" src="{% static 'img/cemrebakerylogo.png'%}">                                                
                                                <h3>WOMBAT RESTAURANT </h3>
                                                <h2>A Taste Of  The Good Life</h2>
                                                <div class="panel-body text-center"> 
                                                    <a style="height: 40px;" class="w3-button w3-block w3-salmon" href="{% url 'al'%}">ALIMENTOS</a>   
                                                    <a style="height: 40px;" class="w3-button w3-block w3-salmon" href="{% url 'pl'%}">PLATOS</a>
                                                    <img class="classic" src="{% static 'img/icon.png'%}">
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                        </div>

                        
                    <!-- Start Slider Content -->
                </div>
                <!-- End Single Slide -->
                <!-- Start Slingle Slide -->
             </div>
        </section>
        {% endblock%}