{%extends 'index.html' %}

{%block b%}
    <section >      
        <div class="slide-content-wrapper text-center"> 
            <div class="slider-content-area">  
                <a  style="margin-bottom: 50px;" class="w3-button w3-block w3-salmon" href="{% url 'crearP'%}">Crear Plato</a>    
                <h1 style="padding-bottom: 60px;">PLATOS</h1>
                <table  class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Nombre</th>
                            <th style="text-align: center;">Tiempo de preparación</th>
                            <th style="text-align: center;">Categoría</th>
                            <th style="text-align: center;">Ingredientes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in pl %}
                        <tr>
                            <td> {{ p.nombre }}</td>
                            <td> {{ p.tiempo_preparacion }}</td>
                            <td> {{ p.categoria }}</td>
                            <td>
                                {% for a in p.alimentos.all %}
                                {{a}},
                                {%endfor%}
                            </td>
                            <td><a class="w3-button w3-block w3-salmon" href="{% url 'EditarP' id=p.id%}">Editar</a></td>
                            <td><a class="w3-button w3-block w3-salmon" href="{% url 'EliminarP' id=p.id%}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>    
        </div>
    </section>
{% endblock %}